// Mixins in here
.cheese-btn (@button-bg: @eastern-blue , @button-font: @white) {
    background: @button-bg;
    width: 200px;
    height:45px;
    color:@button-font;
    display:block;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 15px;
    
&:hover{
    background: @white;
    color: @eastern-blue;


    }
}